body
{
	background: red;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#enterdiv{
  margin-top: 5%;
}
#Logo{
	height: 20%;
	width:  20%;
	margin: 5%;
}
#Logo2{
	height: 20%;
	width: 20%;
}
#question_turn{
	color: white;
}
#answer_turn{
	color: white;
}
#player_1{
	color: white;
}
#player_2{
	color: white;
}
#player1_score{
	color: white;
}
#player2_score{
	color: white;
}